
<ion-menu side="start" menuId="first" contentId="main">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Start Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item (click)="goTo('home')"><ion-icon name="home-outline"></ion-icon><h5 class ="texto">Home</h5></ion-item>
      <ion-item (click)="goTo('citas-asignadas')"><ion-icon class="clock" name="time-outline"></ion-icon><h5 class ="texto">Citas Asignadas</h5><ion-badge class="badge" color="tertiary">{{asignada}}</ion-badge></ion-item>
      <ion-item (click)="goTo('citas-aceptadas')"><ion-icon class="check" name="checkmark-circle-outline"></ion-icon><h5 class ="texto">Citas Aceptadas</h5><ion-badge class="badge" color="success">{{aceptadas}}</ion-badge></ion-item>
      <ion-item (click)="logout()"><ion-icon name="exit-outline"></ion-icon><h5 class ="texto">Salir</h5></ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
<ion-router-outlet id="main"></ion-router-outlet>
